@import '../../shared-styles/variables';

.map {
  height: 300px;
  width: 100%;
}

.table td {
  padding: 3px 10px;
  background-color: #fff;
  transition: background-color 0.3;
}

.count {
  font-size: 2em;
  text-align: center;
  font-style: italic;
}

.table td:nth-of-type(1) {
  color: 250px;
  text-align: "right";
}

.table td:nth-of-type(2) {
  width: 2250px;
}

.table  td:nth-of-type(3) {
  width: 2000px;
}

.table td:nth-of-type(4) {
  width: 800px;
}

.saved {
  td {
    background-color: rgba(0, 128, 0, 0.3);
  }
}
