@import '../../shared-styles/variables';
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Lato');


.paragraph + .paragraph {
  padding-top: $padding;
}

.results {
  display: flex;
  flex-direction: column;
}

span {
  font-family: 'Architects Daughter', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.25em;
}
